@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Exo+2|Noto+Sans+KR');

/* reset */
* {margin: 0; padding: 0;}
li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: #333;}
body {background-color: rgb(000,065,145); font-size:15px;}
#wrap {width: 1000px; height: 1200px; margin: 0 auto; position: relative; /* 기준점 */}
#wrap header {width: 1000px; height: 70px; position: absolute; top: 0; left: 0; z-index:999; 
background-color: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.2);} 
#wrap header h1.logo {width: 400px; height: 70px; float: left; position: absolute; top: 0; left: 0; z-index:2;}
#wrap header h1 p{color: rgb(000,065,145); margin-top: 22px;font-size:19px; margin-left: 30px; }
/*#wrap header h1.logo img{ width: 100px; margin-top: 23px; margin-left: 10px;}*/
#wrap header nav.menu { width: 500px; height: 70px; float: right;}

#wrap header nav.menu ul { float: right;}

#wrap header nav.menu ul li { float:left;}

#wrap header nav.menu ul li a {display: block; width: 160px;height:30px; line-height: 30px;  color: #fff; border-top:1px solid rgb(000,065,145);

margin-left: 1px; text-align: center;background-color: rgb(000,065,145); margin-top: 17px; transition: .3s; font-weight:bold;}

#wrap header nav.menu ul li a:hover,
#wrap header nav.menu ul li a:focus {background-color: #fff; color: rgb(000,065,145);
    border-top:1px solid rgb(000,065,145); font-weight: bold; box-sizing: border-box;
}
#wrap section.box { position: relative; 
    width: 1000px; height: 1170px; background-color: #fff;
}
#wrap section.box h2{font-size: 30px; position: absolute; top: 100px; 
    left: 50px;
/* transform: translate(-50%,-50%); */
 color: rgb(000,065,145); 
 /* text-shadow: 0 0 10px rgba(0,0,0,0.5); */
}
#wrap section.box .me {
    width: 850px; height: 550px;
    position: absolute; top: 150px; left: 50px;
    /* border:1px solid red; */
}
#wrap section.box .me h3 {margin-bottom: 30px; margin-top: 50px;}
#wrap section.box .me ul li a {color: #333; line-height: 1.6; font-size: 14px; display: block; height: 35px;}
#wrap section.box .me p {margin-top: 30px;}
#wrap section.box p.photo img {width: 200px; height: 55px; border-radius: 0%;}

#wrap section.box p.interest{font-size: x-large;}
#wrap section.box p.goal{margin-top: 100px; font-size: x-large;}

#wrap section.box p.link{margin-top: 5px;}


#wrap section.box .button {width: 850px; height: 50px; float: right; }
#wrap section.box .button ul {float: left;}
#wrap section.box .button ul li{float: left;}
#wrap section.box .button ul li a{ display: block; width: 300px;
     height: 50px; line-height: 30px;
text-align: center; background-color: rgb(000,065,145); border-top:1px solid rgb(000,065,145);
color: #fff; margin-left: 30px; margin-top: 30px; transition: .3s; font-size: x-large;  font-weight: bold; 
}